body {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 20px 300px;
}

.topbar {
    position: sticky;
    top: 5px;
    text-decoration: none;
    padding: 5px;
    background-color: aquamarine;
}
